@import './Variables.scss';

.footer {
    background-position: center;
    background-size: cover;
    border: 1px solid $color-orange;

    .container {
        display: flex;
        padding: 30px;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $tb-size) {
            flex-direction: column;
            padding: 10px;
            text-align: center;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: $mb-size) {
            flex-direction: column;
            margin-bottom: 15px;
        }

        li {
            font-size: $medium-text;
            color: $color-white;
            font-weight: bold;
            transition: $transition;

            @media (max-width: 1072px) {
                font-size: $small-text;
            }

            &:hover {
                color: $color-orange;
            }
        }
    }


    .social {
        display: flex;
        gap: 20px;

        @media (max-width: 917px) {
            flex-direction: column;
        }

        a {
            font-size: $small-text;
            color: $color-white;
            font-weight: bold;
            transition: $transition;

            &:hover {
                color: $color-orange;
            }
        }

    }

}