@import './Variables.scss';

.main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    
    h2 {
        color: $color-white;
        font-size: $title-text;
        text-align: center;
        font-weight: bold;
        padding: 20px 0;
    }

   .bg {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 50px;
   }
}
